@font-face {
    font-family: "Righteous";
    src: local("Righteous"),
    url(../containers/Righteous/Righteous-Regular.ttf) format("truetype");
}

input {
    letter-spacing: 4px;
}

input {
    font-family: Righteous, Arial, serif;
}
